# Introduction

I did a Time Series analysis on energy and temperature data in Spain from 01/01/2015 - 12/31/2018. Energy data pertained to hourly energy consumptiom, production, and price while temperature data pertained to hourly temperature and weather conditions.

[Data Source](https://www.kaggle.com/nicholasjhana/energy-consumption-generation-prices-and-weather)

### Objective
The goal of this analysis was to outperform the predictions made by the Transmission Service Operator (TSO) for hourly energy price and demand. Additionally, I wanted to explore which features had the biggest influence on energy demand.

By better understanding the relationship between energy production and the factors that influence energy demand, we can develop energy production strategies that both anticipate the needs of Spanish citizens(to help drive costs down) while also attempting to reduce the harm on the environment.

# Data Overview

### Preview Data

In [1]:
#Read in some libraries
import pandas as pd
import numpy as np

#Set notebook preferences - pandas
pd.set_option("display.max_columns", 101)

In [2]:
#Set path to clean aggregated data
path = r'C:\Users\kishe\Documents\Data Science\Projects\Python Projects\In Progress\Spain Hourly Energy Demand and Weather\Data\02_Cleaned_Data'

#Read in data
data = pd.read_csv(path + '/2020_0620_Cleaned_Energy_Dataset.csv')

#Display data
display(data.head(10))

,date_time,generation biomass,generation fossil brown coal/lignite,generation fossil gas,generation fossil hard coal,generation fossil oil,generation hydro pumped storage consumption,generation hydro run-of-river and poundage,generation hydro water reservoir,generation nuclear,generation other,generation other renewable,generation solar,generation waste,generation wind onshore,forecast solar day ahead,forecast wind onshore day ahead,total load forecast,total load actual,price day ahead,price actual
0,2015-01-01 00:00:00,447.0,329.0,4844.0,4821.0,162.0,863.0,1051.0,1899.0,7096.0,43.0,73.0,49.0,196.0,6378.0,17.0,6436.0,26118.0,25385.0,50.10,65.41
1,2015-01-01 01:00:00,449.0,328.0,5196.0,4755.0,158.0,920.0,1009.0,1658.0,7096.0,43.0,71.0,50.0,195.0,5890.0,16.0,5856.0,24934.0,24382.0,48.10,64.92
2,2015-01-01 02:00:00,448.0,323.0,4857.0,4581.0,157.0,1164.0,973.0,1371.0,7099.0,43.0,73.0,50.0,196.0,5461.0,8.0,5454.0,23515.0,22734.0,47.33,64.48
3,2015-01-01 03:00:00,438.0,254.0,4314.0,4131.0,160.0,1503.0,949.0,779.0,7098.0,43.0,75.0,50.0,191.0,5238.0,2.0,5151.0,22642.0,21286.0,42.27,59.32
4,2015-01-01 04:00:00,428.0,187.0,4130.0,3840.0,156.0,1826.0,953.0,720.0,7097.0,43.0,74.0,42.0,189.0,4935.0,9.0,4861.0,21785.0,20264.0,38.41,56.04
5,2015-01-01 05:00:00,410.0,178.0,4038.0,3590.0,156.0,2109.0,952.0,743.0,7098.0,43.0,74.0,34.0,188.0,4618.0,4.0,4617.0,21441.0,19905.0,35.72,53.63
6,2015-01-01 06:00:00,401.0,172.0,4040.0,3368.0,158.0,2108.0,961.0,848.0,7098.0,43.0,74.0,34.0,186.0,4397.0,3.0,4276.0,21285.0,20010.0,35.13,51.73
7,2015-01-01 07:00:00,408.0,172.0,4030.0,3208.0,160.0,2031.0,983.0,1012.0,7099.0,43.0,72.0,35.0,189.0,3992.0,12.0,3994.0,21545.0,20377.0,36.22,51.43
8,2015-01-01 08:00:00,413.0,177.0,4052.0,3335.0,161.0,2119.0,1001.0,1015.0,7098.0,43.0,73.0,54.0,198.0,3629.0,39.0,3602.0,21443.0,20094.0,32.40,48.98
9,2015-01-01 09:00:00,419.0,177.0,4137.0,3437.0,163.0,2170.0,1041.0,1357.0,7097.0,43.0,74.0,743.0,198.0,3073.0,784.0,3212.0,21560.0,20637.0,36.60,54.20

**Data Dictionary**

# Methods Section - Explain how you gathered and analyzed data.

# Analysis Section - Explain what you analyzed. Include any charts here.

# Results - Describe the results of your analysis.

# Conclusion