# Time Series Modeling: Spain Energy Data

## Prepare Notebook

**Read in libraries**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image
import warnings

C:\Users\kishe\AppData\Roaming\Python\Python37\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

**Set Notebook Preferences**

In [2]:
#Set Pandas preferenes
pd.options.display.max_rows = 100

#Set style for matplotlib
plt.style.use('seaborn-deep')

#Surpress annoying warnings
warnings.filterwarnings('ignore')

**Read in data**

In [9]:
#Set path to data
path = r'\Users\kishe\Documents\Data Science\Projects\Python Projects\In Progress\Spain Hourly Energy Demand and Weather\Data\03_Processed_Data'

#Read in energy data file
df = pd.read_csv(path + '/2020_0622_Processed_Energy.csv', index_col=0)

#Read in price forecasts data
price_forecasts = pd.read_csv(path + '/2020_0620_Data_Price_Forecasts.csv', index_col=0)

**Preview Data**

In [12]:
print('Energy data shape:',df.shape)
display(df.head())
print('\nPrice forecasts shape:',price_forecasts.shape)
display(price_forecasts.head())

Energy data shape: (35072, 5)

,generation fossil gas,generation fossil hard coal,generation hydro pumped storage consumption,price actual,total load actual
date_time,,,,,
2015-01-01 00:00:00,4844.0,4821.0,863.0,65.41,25385.0
2015-01-01 01:00:00,5196.0,4755.0,920.0,64.92,24382.0
2015-01-01 02:00:00,4857.0,4581.0,1164.0,64.48,22734.0
2015-01-01 03:00:00,4314.0,4131.0,1503.0,59.32,21286.0
2015-01-01 04:00:00,4130.0,3840.0,1826.0,56.04,20264.0

Price forecasts shape: (35064, 1)

   price day ahead
0            50.10
1            48.10
2            47.33
3            42.27
4            38.41

# Modeling

### Split Data

### Evaluate original price forecast performance

### Build Base Model

### Build VAR Model

### Build LSTM model