# Introduction 

In the following notebook, I will creating a time series forecast aiming to predict the temperature in Bilbao and Seville Spain. 

* Raw data can be found [here](https://github.com/KishenSharma6/Weather-Energy-Consumption-in-Spain/tree/master/Data/01_Raw_Data)
* Cleaned data can be found [here](https://github.com/KishenSharma6/Weather-Energy-Consumption-in-Spain/tree/master/Data/02_Cleaned_Data)
* Training and test data can be found [here](https://github.com/KishenSharma6/Weather-Energy-Consumption-in-Spain/tree/master/Data/03_Processed_Data)

**Read in libraries for notebook**

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns
import warnings

C:\Users\kishe\AppData\Roaming\Python\Python37\site-packages\statsmodels\tools\_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

**Set notebook preferences**

In [2]:
#Set preferences for pandas 
pd.set_option("display.max_rows", 101)

#Set style for visualizations
plt.style.use('Solarize_Light2')

#Surpress warnings
warnings.filterwarnings('ignore')

**Read in data**

In [3]:
#Set path to raw data
path = r'C:\Users\kishe\Documents\Data Science\Projects\Python Projects\In Progress\Spain Hourly Energy Demand and Weather/Data/03_Processed_Data'

#Read in Bilbao training and test data
b_train = pd.read_csv(path + '/2020_0512_Bilbao_train.csv', parse_dates=['date_time'], index_col='date_time')
b_test = pd.read_csv(path + '/2020_0512_Bilbao_test.csv', parse_dates=['date_time'], index_col='date_time')

#Read in Seville training and test data
s_train = pd.read_csv(path + '/2020_0512_Seville_train.csv', parse_dates=['date_time'], index_col='date_time')
s_test = pd.read_csv(path + '/2020_0512_Seville_test.csv', parse_dates=['date_time'], index_col='date_time')

**Data preview**

In [ ]:
display(b_train.head())

In [4]:
display(s_train.head())

,temp,first_deseasoned_temp,log_temp,first_deseasoned_log_temp
date_time,,,,
2015-01-01 00:00:00,32.4050,NaN,3.508706,NaN
2015-01-01 01:00:00,32.4050,NaN,3.508706,NaN
2015-01-01 02:00:00,33.6848,NaN,3.546302,NaN
2015-01-01 03:00:00,33.6848,NaN,3.546302,NaN
2015-01-01 04:00:00,33.6848,NaN,3.546302,NaN

# PNG files with time plots

# PNG file with autocorrelations

# Forecasting - Bilbao Data

**Data preparation

In [6]:
x_train = b_train
x_test = b_test.values

x_train

,temp,first_deseasoned_temp,log_temp,first_deseasoned_log_temp
date_time,,,,
2015-01-01 00:00:00,25.713163,NaN,3.285156,NaN
2015-01-01 01:00:00,25.904300,NaN,3.292286,NaN
2015-01-01 02:00:00,24.983038,NaN,3.257444,NaN
2015-01-01 03:00:00,24.896019,NaN,3.254089,NaN
2015-01-01 04:00:00,25.403900,NaN,3.273512,NaN
...,...,...,...,...
2018-03-14 02:00:00,54.824000,9.810,4.022204,0.193258
2018-03-14 03:00:00,53.636000,9.414,4.000693,0.189109
2018-03-14 04:00:00,53.636000,9.414,4.000693,0.189109
2018-03-14 05:00:00,51.836000,7.632,3.967193,0.156007
2018-03-14 06:00:00,51.836000,7.614,3.967193,0.155609

## Base models

## Smoothing Models

## Sarima